.product-details-container {
  margin: 40px 0px;
  padding: 0px 40px;

  .product-price-container {
    margin-top: 30px;
  }
}

.header-size{
display: flex;
flex-direction: row;
justify-content: space-between; /* Alinea los elementos al inicio y al final */
  align-items: center; /* Opcional: Alinea verticalmente si es necesario */
  margin-bottom: 25px;
  width: 100%;
}


.img-product{
  max-width: 400px;  /* Asegura que la imagen ocupe todo el ancho del contenedor */
  max-height:400px; /* Asegura que la imagen ocupe toda la altura del contenedor */
  object-fit: cover; /* Recorta la imagen para que cubra todo el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

.product-details {
  padding: 50px 60px 90px 90px;
}

.icon-goback {
  color: #407bff;
  transform: rotate(-180deg);
  margin-right: 30px;
}

.product-details-goback {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text-goback {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #263238;
  text-transform: uppercase;
}

.product-details-info {
  display: flex;

}

.product-details-card {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 38px 29px;
}

.product-details-image {
  width: 353px;
  height: 353px;
}

.product-description-title {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #9e9e9e;
  padding-right: 10px;
}

.product-description-text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}
.buttons-container-inv{
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.btn-product{
  width: 135px !important;
  margin: 0px !important;
  padding-left: 10px;
}
.product-details-name {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.015em;
  margin-top: 35px;
}

.product-details .product-price {
  font-size: 48px;
}

.image-price{
  margin-right: 65px;
  max-width:586px ;

}
//tablet
@media (max-width: 768px) {

  .img-product{
    max-width: 200px;  /* Asegura que la imagen ocupe todo el ancho del contenedor */
    max-height:200px; /* Asegura que la imagen ocupe toda la altura del contenedor */

  }

  .product-details {
    display: flex;
    flex-direction: column;
  }

  .product-details-info{
    flex-direction: column;
  }

  .product-details-card{
    width: 530px;
    margin: 0 auto;
  }

  .product-details{
    flex-direction: column;
  }

  .product-info-fields{
    border: 0px;
    padding: 0px 10px;
    margin-bottom: 40px;
    width: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-description-text{
    width: 460px;
  }

  .image-price{
    margin-right: 0px;
  }
}

@media (max-width: 676px){
  .product-details-container{
    margin-top: 5px;
    padding: 10px;
  }

  .product-details{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .product-details-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
  }

  .product-details-image{
    width: 200px;
    height: 200px;
  }

  .product-info-fields{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-description-text{
    width: 90%;
  }

}