.product-form-cata {
  padding: 10px;
  

  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
 
}

.form-btn {
  padding: 0;
  margin: 5px;
  display: block;
  border: none;
  background: transparent;
  max-width: 32px;
  outline: none;
}

.bg-dark{
  background-color: rgba(0, 0, 0, 0.9);
  color: aliceblue;
}

.cant-input{
  max-width: 80px;
}

.buttons-container{
  margin: 10px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



.card-content{
  z-index: 200;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
 
 
}

.product-card-stock {

  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  width: 100%;
}

/*tablet*/
@media(max-width: 768px){
  .card-content{
    margin-left: 0;
  }
}

//mobile
@media(max-width: 576px){
  .product-card-stock {
    font-size: 12px;
   
  }
  .product-form-cata{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding:  0;
  }
  .card-content-form{
    width: 100%;
    
    padding: 10px;
  }
  .buttons-container-inv{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 15px;
    padding: 2px;
  }
  .btn-product{
    width: 135px !important;
    margin: 0px !important;
  }
  .border-img {
    border-bottom: 1px solid #cecece;
  }


}